<body>
    <main class="page-content">
        <!-- Popular Dishes -->
        <section class="shadow-overlay">
            <div class="container relative-shift-up">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="well-sm well-sm--inset-2 bordered">
                            <h3 class="populardishes">Popular Dishes</h3>


                                <div class="pricing-box">
                                    <p class="pricing-box__title"><a href="#">Baked Haddock</a></p>

                                    <p class="price">$20,40</p>

                                    <p>Grilled Asparagus, Yukon
                                        Potatoes.</p>
                                </div>
                                <div class="pricing-box">
                                    <p class="pricing-box__title"><a href="#">Shrimp Scampi</a></p>

                                    <p class="price">$15,25</p>

                                    <p>Sauteed Shrimp and Scallion in
                                        a garlic scampi sauce.</p>
                                </div>
                                <div class="pricing-box">
                                    <p class="pricing-box__title"><a href="#">Eggplant Rollentini</a></p>

                                    <p class="price">$22,30</p>

                                    <p>Poached Chicken, Spinach,
                                        Parmesan, Mozzarella Cheese.</p>
                                </div>

                                <div class="pricing-box">
                                    <p class="pricing-box__title"><a href="#">Cioppino</a></p>

                                    <p class="price">$30,60</p>

                                    <p>Shrimp, Haddock, Mussels,
                                        Tomato, Fennel, Yukon Potato.</p>
                                </div>

                                <div class="pricing-box">
                                    <p class="pricing-box__title"><a href="#">Cavatapi</a></p>

                                    <p class="price">$18,60</p>

                                    <p>Smoked Mozzarella, Sun-Dried Tomato, Spinach.</p>
                                </div>

                                <div class="pricing-box">
                                    <p class="pricing-box__title"><a href="#">Chicken Broccoli Penne</a></p>

                                    <p class="price">$27,20</p>

                                    <p>Fresh Garlic, Cream, Parmesan Cheese.</p>
                                </div>

                                <div class="pricing-box">
                                    <p class="pricing-box__title"><a href="#">Mussels Red</a></p>

                                    <p class="price">$33,20</p>

                                    <p>Spicy Sausage, Red Sauce,
                                        Linguine.</p>
                                </div>

                                <div class="pricing-box">
                                    <p class="pricing-box__title"><a href="#">Ricotta Gnocchi</a></p>

                                    <p class="price">$10,16</p>

                                    <p>Broccolini, Sausage, Garlic,
                                        Parmesan.</p>
                                </div>

                                <div class="pricing-box">
                                    <p class="pricing-box__title"><a href="#">Pasta Louise</a></p>

                                    <p class="price">$17,25</p>

                                    <p>Sauteed Chicken, Plum Tomato,
                                        Asparagus.</p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Popular Dishes -->
    </header>
    </div>
</body>
