<body>
<!-- The Main Wrapper -->
    <!--========================================================
                              HEADER
    =========================================================-->
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main class="page-content">

      <!-- Reservation & About Us -->
<!--         <section class="shadow-overlay"> -->
            <!-- Reservation -->
<!--             <div class="container shift-up">
                <div class="row">
                    <div class="col-xs-12 col-sm-preffix-1 col-sm-10 col-md-preffix-0 col-md-6 col-lg-5 full-height">
                        <div class="bordered">
                            <div class="inset-1">
                                <h3>Reservation</h3>

                                <p>Make a reservation at one of the best restaurants with Italian
                                    cuisine. It is pretty simple to
                                    organize a romantic dinner for two or a party, for a company of friends or
                                    co-workers.</p>
                                <a href="#" class="link link-left">Book a Table</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-7 image-wrap image-wrap-right hidden visible-md-block">
                        <img src="images/page-1_img01.jpg" alt="" width="700" height="546">
                    </div>
                </div>
            </div> -->
        <!-- END Reservation -->
        <!-- About Us -->
            <div class="container container-no-offset">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-7 image-wrap image-wrap-left hidden visible-md-block">
                        <img src="images/page-1_img02.jpg" alt="" width="700" height="546">
                    </div>

                    <div class="col-xs-12 col-sm-preffix-1 col-sm-10 col-md-preffix-0 col-md-6 col-lg-5 full-height">
                        <div class="bordered">
                            <div class="inset-2">
                                <h3>About Us</h3>

                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END About Us -->
        </section>
        <!-- END Reservation & About Us -->

        <!-- Experience -->
        <section class="rd-parallax bg-grayscale-darken shift-up" data-on="false" data-lg-on="true">
            <div class="rd-parallax-layer"
                 data-type="media"
                 data-url="images/parallax_02.jpg"
                 data-speed="0.25"
                 >
            </div>

            <div class="rd-parallax-layer well-xl" data-type="html" data-speed="0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1><span class="small">The Taste of Malaysian Delight!</span> Experience</h1>
                        </div>
                        <div class="col-sm-preffix-1 col-sm-10 offset-3">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- END Experience -->

        <!-- Our Chef -->
        <section class="shadow-overlay">
            <div class="container relative-shift-up">
                <div class="row row-no-gutter">
                    <div class="col-sm-preffix-1 col-sm-10 col-md-preffix-0 col-md-5 image-wrap">
                        <img src="images/leonkee.jpg" alt="" width="470" height="546">
                    </div>

                    <div class="col-sm-preffix-1 col-sm-10 col-md-preffix-0 col-md-7 full-height inset-0">
                        <div class="bordered bordered--thin-border">
                            <div class="inset-3">
                                <h3>Our Chef</h3>

                                <p>Head Leon Kee is The Chef with no doubt. He is the heart of our
                                    restaurant
                                    and he is the one who brings the spirit and soul into it. He is an experienced cook
                                    with
                                    a long list of awards, prizes and trophies. He took part in the
                                    TV-programs that still run on TV.  The life of
                                    Michael Bornmann is not a simple life of a chef. He is also so goddamn handsome that xiaomeimeis like him alot. Then my sister Esther Wong Li May gets pissed off.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Our Chef -->

        <!-- Popular Dishes -->
        <section class="well-md well-md--inset-1 bg-default relative">
            <h3>Popular Dishes</h3>

            <div class="bg-grayscale-darken offset-5 top-level">
                <div class="owl-carousel"
                     data-items="1"
                     data-xs-items="1"
                     data-sm-items="2"
                     data-md-items="3"
                     data-lg-items="4"
                     data-xs-stage-padding="25"
                     data-lg-stage-padding="0"
                     data-autoplay="true"
                     data-nav="false">

                    <figure class="box-skin">
                        <img src="images/page-1_img04.jpg" alt="" width="512" height="518">
                        <figcaption>
                            <p class="heading-3">Artisan Breads</p>

                            <p>Freshly baked focaccia, ciabatta, seeded crackerbread, sourdough, grissini, extra
                                virgin olive oil, balsamic &amp; a fantastic sun-dried tomato &amp; olive tapenade.</p>

                            <p class="price">$3.95</p>
                        </figcaption>
                    </figure>

                    <figure class="box-skin">
                        <img src="images/page-1_img05.jpg" alt="" width="512" height="518">
                        <figcaption>
                            <p class="heading-3">Crab &amp; Avocado Bruschetta</p>

                            <p>Fresh white &amp; brown crab, crunchy fennel, smashed avocado, yoghurt &amp; chilli</p>

                            <p class="price">$15.95</p>
                        </figcaption>
                    </figure>

                    <figure class="box-skin">
                        <img src="images/page-1_img06.jpg" alt="" width="512" height="518">
                        <figcaption>
                            <p class="heading-3">Italian Pate
                                Brushcetta</p>

                            <p>Silky smooth chicken-liver pâté with pancetta, vin santo &amp; Parmesan.
                            </p>

                            <p class="price">$17.95</p>
                        </figcaption>
                    </figure>

                    <figure class="box-skin">
                        <img src="images/page-1_img07.jpg" alt="" width="512" height="518">
                        <figcaption>
                            <p class="heading-3">Roasted<br>
                                Heritage Carrot</p>

                            <p>Spiced honey-roasted carrots, marinated feta, avocado, leafy radishes, fennel, mint, toasted seeds &amp; an orange &amp; pomegranate dressing</p>

                            <p class="price">$10.95</p>
                        </figcaption>
                    </figure>

                </div>

                <div class="owl-carousel"
                     data-items="1"
                     data-xs-items="1"
                     data-sm-items="2"
                     data-md-items="3"
                     data-lg-items="4"
                     data-xs-stage-padding="25"
                     data-lg-stage-padding="0"
                     data-autoplay="true"
                     data-nav="false">

                    <figure class="box-skin">
                        <img src="images/page-1_img08.jpg" alt="" width="512" height="518">
                        <figcaption>
                            <p class="heading-3">Salmon Salad</p>

                            <p>Flaked hot-smoked salmon with heritage beets, radish, fennel &amp; creamy ricotta, toped with seeded crackerbread, fresh horseradish &amp; green goddess dressing.
                            </p>

                            <p class="price">$13.95</p>
                        </figcaption>
                    </figure>

                    <figure class="box-skin">
                        <img src="images/page-1_img09.jpg" alt="" width="512" height="518">
                        <figcaption>
                            <p class="heading-3">The Ultimate
                                Burger</p>

                            <p>Juicy prime British beef with mortadella, balsamic onions, tomato, provolone, pickles
                                &amp; chillies. </p>

                            <p class="price">$8.95</p>
                        </figcaption>
                    </figure>

                    <figure class="box-skin">
                        <img src="images/page-1_img10.jpg" alt="" width="512" height="518">
                        <figcaption>
                            <p class="heading-3">Italian Steak</p>

                            <p>Flash-grilled prime beef steak, served with Italian-spiced skinny fries &amp; crunchy
                                vegetable slaw.</p>

                            <p class="price">$16.33</p>
                        </figcaption>
                    </figure>

                    <figure class="box-skin">
                        <img src="images/page-1_img11.jpg" alt="" width="512" height="518">
                        <figcaption>
                            <p class="heading-3">Baked Crespelle</p>

                            <p>Spinach, Westcombe ricotta &amp; basil baked in gluten-free buckwheat pancakes with smoked mozzarella, sweet buttery leeks, Sicilian tomato sauce &amp; Parmesan.
                            </p>

                            <p class="price">$22.50</p>
                        </figcaption>
                    </figure>

                </div>
            </div>

            <a href="#" class="link link-bottom link-position-1">View All</a>
        </section>
        <!-- END Popular Dishes -->

        <!-- Our Mission & Values -->
        <section class="rd-parallax bg-grayscale-darken" data-on="false" data-lg-on="true">
            <div class="rd-parallax-layer"
                 data-type="media"
                 data-url="images/parallax_03.jpg"
                  data-speed="0.25">
            </div>

            <div class="rd-parallax-layer well-xl well-xl--inset-1" data-type="html" data-speed="0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1><span class="small">Our Mission &amp;</span>Values</h1>
                        </div>
                        <div class="col-xs-12 offset-6">
                            <ol class="index-list row row-xs-center">
                                <li class="col-sm-8 col-md-4">
                                    <p class="heading-3">High Quality</p>

                                    <p>We serve the highest quality of prepared meals at a great value in a home-like
                                        and friendly
                                        environment. </p>
                                </li>
                                <li class="col-sm-8 col-md-4">
                                    <p class="heading-3">Professional
                                        Staff</p>

                                    <p>Our highly trained and
                                        experienced cooks are the experts in the production, preparation and
                                        presentation of our
                                        Italian dishes. </p>
                                </li>
                                <li class="col-sm-8 col-md-4">
                                    <p class="heading-3">Full-Service
                                        Restaurant</p>

                                    <p>Our restaurant is expanding to a new model of full-service restaurants, providing
                                        entertainment not only for families, but for the adult night crowd. </p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Our Mission & Values -->
    </main>
    <!--========================================================
                              FOOTER
    ==========================================================-->
    <footer class="page-footer shadow-overlay">
        <div class="container relative-shift-up">
            <div class="row well-xs bordered">
                <div class="col-md-4 col-md-push-2">
                    <!--RD Navbar Brand-->
                    <div class="rd-navbar-brand small">
                        <div class="brand-header">
                            <span>ESTD</span>
                            <img src="images/logo.png" alt="" width="70" height="67">
                            <span>2008</span>
                        </div>
                        <a href="./index.html" class="brand-name">Bellissimo</a>

                        <div class="brand-slogan"><p>Italian Restaurant</p></div>
                    </div>
                    <!--END RD Navbar Brand -->

                    <!-- Copyright -->
                    <p class="copyright">
                        <a href="./" class="nohover text-grayscale-darken">Bellissimo</a> &copy; <span
                            id="copyright-year"></span> |
                        <a href="index-5.html" class="text-grayscale-default">Privacy Policy</a>
                        More Italian Restaurant Website Templates at <a rel="nofollow" href="http://www.templatemonster.com/category/italian-restaurant-website-templates/" target="_blank">TemplateMonster.com</a>
                    </p>
                    <!-- END Copyright -->

                    <!-- Inline list -->
                    <ul class="inline-list">
                        <li><a href="#" class="icon icon-sm fa fa-instagram"></a></li>
                        <li><a href="#" class="icon icon-sm fa fa-twitter"></a></li>
                        <li><a href="#" class="icon icon-sm fa fa-facebook"></a></li>
                    </ul>
                    <!-- END Inline list -->
                </div>

                <div class="col-md-preffix-1 col-md-3 col-md-push-1 offset-7">
                    <h3>Hours</h3>
                    <dl class="terms-list">
                        <dt>Monday - Thursday</dt>
                        <dd>5:30 PM - 10:00 AM</dd>

                        <dt>Friday &amp; Sunday</dt>
                        <dd>5:30 PM - 11:00 AM</dd>
                    </dl>
                </div>

                <div class="col-md-3 col-md-push-3 offset-7">
                    <h3>Contacts</h3>

                    <div class="contact-info">
                        <address>28 Jackson Blvd Ste 1020<br>
                            Chicago, IL 60604-2340
                        </address>

                        <a href="callto:#" class="with-icon">
                            <span class="icon icon-lg icon-primary thin-icon-phone-call"></span>
                            1-800-234-5677
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

</body>
