<!DOCTYPE html>
<html lang="en" class="wide smoothscroll wow-animation">
<head>
    <!-- Site Title -->
    <title>Privacy Policy</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

    <!-- Stylesheets -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700%7CNoto+Serif:400italic' rel='stylesheet'>
    <link rel="stylesheet" href="css/style.css">

    <!--[if lt IE 10]>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- The Main Wrapper -->
<div class="page bg-image bg-image-1 shadow-overlay text-center">

    <!--For older internet explorer-->
    <div class="old-ie"
         style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <!--END block for older internet explorer-->

    <!--========================================================
                              HEADER
    =========================================================-->
    <header class="page-header bg-grayscale-darken">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar" data-rd-navbar-lg="rd-navbar-static">
                <div class="rd-navbar-inner">
                    <!-- RD Navbar Panel -->
                    <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle -->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span></button>
                        <!-- END RD Navbar Toggle -->

                        <!--RD Navbar Brand-->
                        <div class="rd-navbar-brand medium">
                            <div class="brand-header">
                                <span>ESTD</span>
                                <img src="images/logo.png" alt="" width="70" height="67">
                                <span>2008</span>
                            </div>
                            <a href="./index.html" class="brand-name">Bellissimo</a>

                            <div class="brand-slogan"><p>Italian Restaurant</p></div>
                        </div>
                        <!--END RD Navbar Brand -->
                    </div>
                    <!-- END RD Navbar Panel -->

                    <div class="rd-navbar-nav-wrap">

                        <!-- RD Navbar Nav -->
                        <ul class="rd-navbar-nav">
                            <li>
                                <a href="index.html">Main Page</a>
                                <!-- RD Navbar Megamenu -->
                                <ul class="rd-navbar-megamenu">
                                    <li>
                                        <h3>Popular in Menu</h3>
                                        <ul>
                                            <li>
                                                <div class="pricing-box">
                                                    <p class="pricing-box__title"><a href="#">Cavatapi</a></p>
                                                    <p class="price">$18,60</p>
                                                    <p>Smoked Mozzarella, Sun-Dried Tomato, Spinach.</p>
                                                </div>
                                                <div class="pricing-box">
                                                    <p class="pricing-box__title"><a href="#">Ricotta Gnocchi</a></p>
                                                    <p class="price">$10,16</p>
                                                    <p>Broccolini, Sausage, Garlic,
                                                        Parmesan.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="pricing-box">
                                                    <p class="pricing-box__title"><a href="#">Chicken Broccoli Penne</a></p>
                                                    <p class="price">$27,20</p>
                                                    <p>Fresh Garlic, Cream, Parmesan Cheese.</p>
                                                </div>
                                                <div class="pricing-box">
                                                    <p class="pricing-box__title"><a href="#">Pasta Louise</a></p>
                                                    <p class="price">$17,25</p>
                                                    <p>Sauteed Chicken, Plum Tomato,
                                                        Asparagus.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <img src="images/megamenu_01.jpg" alt="" width="381" height="553">
                                        <dl>
                                            <dt>Call us:</dt>
                                            <dd><a href="callto:#" class="text-grayscale-darken">+1 800 889 9898</a></dd>
                                        </dl>
                                    </li>
                                </ul>
                                <!-- END RD Navbar Megamenu -->
                            </li>
                            <li>
                                <a href="index-1.html">About Us</a>

                                <!-- RD Navbar Dropdown -->
                                <ul class="rd-navbar-dropdown">
                                    <li><a href="#">Meet Our Team</a></li>
                                    <li><a href="#">FAQ</a></li>

                                    <li>
                                        <a href="#">Areas We Serve</a>
                                        <ul class="rd-navbar-dropdown">
                                            <li><a href="#">New Orleans</a></li>
                                            <li><a href="#">Mandeville</a></li>
                                            <li><a href="#">Covington</a></li>
                                            <li><a href="#">Slidell</a></li>
                                            <li><a href="#">Houma</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- END RD Navbar Dropdown -->
                            </li>
                            <li>
                                <a href="index-2.html">Menu</a>
                            </li>
                            <li>
                                <a href="index-3.html">News</a>
                            </li>
                            <li>
                                <a href="index-4.html">Contacts</a>
                            </li>
                        </ul>
                        <!-- END RD Navbar Nav -->
                    </div>
                </div>
            </nav>
        </div>
        <!-- END RD Navbar -->

        <!-- Parallax -->
        <div class="rd-parallax" data-on="false" data-lg-on="true">
            <div class="rd-parallax-layer parallax-shift-down bg-grayscale-darken"
                 data-type="media"
                 data-url="images/parallax_01.jpg"
                 data-speed=".15">
            </div>

            <div class="rd-parallax-layer well-lg" data-type="html" data-speed="0">
                <!--RD Navbar Brand-->
                <div class="rd-navbar-brand medium">
                    <div class="brand-header">
                        <span>ESTD</span>
                        <img src="images/logo.png" alt="" width="70" height="67">
                        <span>2008</span>
                    </div>
                    <a href="./index.html" class="brand-name">Bellissimo</a>

                    <div class="brand-slogan"><p>Italian Restaurant</p></div>
                </div>
                <!--END RD Navbar Brand -->
            </div>
        </div>
        <!-- END Parallax -->
    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main class="page-content">
        <!-- Privacy Policy -->
        <section>
            <div class="container relative-shift-up">
                <div class="row row-no-gutter">
                    <div class="col-xs-12">
                        <div class="well-sm well-sm--inset-2 preffix-2 postfix-2 bordered">
                            <h3>Privacy Policy</h3>

                            <!-- Terms List -->
                            <dl class="terms-list-variant-1">
                                <dt class="heading-6">General information</dt>

                                <dd>Welcome to our Privacy Policy page! When you use our web site services, you trust us
                                    with your
                                    information. This Privacy Policy is meant to help you understand what data we
                                    collect, why we
                                    collect it, and what we do with it. When you share information with us, we can make
                                    our services
                                    even better for you. For instance, we can show you more relevant search results and
                                    ads, help
                                    you connect with people or to make sharing with others quicker and easier. As you
                                    use our
                                    services, we want you to be clear how we`re using information and the ways in which
                                    you can
                                    protect your privacy. This is important; we hope you will take time to read it
                                    carefully.
                                    Remember, you can find controls to manage your information and protect your privacy
                                    and
                                    security. We`ve tried to keep it as simple as possible.
                                </dd>

                                <dt class="heading-6">Right to access, correct and delete data and to object to data
                                    processing
                                </dt>

                                <dd>Our customers have the right to access, correct and delete personal data relating to
                                    them, and
                                    to object to the processing of such data, by addressing a written request, at any
                                    time. The
                                    Company makes every effort to put in place suitable precautions to safeguard the
                                    security and
                                    privacy of personal data, and to prevent it from being altered, corrupted, destroyed
                                    or accessed
                                    by unauthorized third parties. However, the Company does not control each and every
                                    risk related
                                    to the use of the Internet, and therefore warns the Site users of the potential
                                    risks involved
                                    in the functioning and use of the Internet. The Site may include links to other web
                                    sites or
                                    other internet sources. As the Company cannot control these web sites and external
                                    sources, the
                                    Company cannot be held responsible for the provision or display of these web sites
                                    and external
                                    sources, and may not be held liable for the content, advertising, products, services
                                    or any
                                    other material available on or from these web sites or external sources.
                                </dd>

                                <dt class="heading-6">Management of personal data</dt>

                                <dd>You can view or edit your personal data online for many of our services. You can
                                    also make
                                    choices about our collection and use of your data. How you can access or control
                                    your personal
                                    data will depend on which services you use. You can choose whether you wish to
                                    receive
                                    promotional communications from our web site by email, SMS, physical mail, and
                                    telephone. If you
                                    receive promotional email or SMS messages from us and would like to opt out, you can
                                    do so by
                                    following the directions in that message. You can also make choices about the
                                    receipt of
                                    promotional email, telephone calls, and postal mail by visiting and signing into
                                    Company
                                    Promotional Communications Manager, which allows you to update contact information,
                                    manage
                                    contact preferences, opt out of email subscriptions, and choose whether to share
                                    your contact
                                    information with our partners. These choices do not apply to mandatory service
                                    communications
                                    that are part of certain web site services.
                                </dd>

                                <dt class="heading-6">Information We Collect</dt>

                                <dd>Our store collects data to operate effectively and provide you the best experiences
                                    with our
                                    services. You provide some of this data directly, such as when you create a personal
                                    account.
                                    We get some of it by recording how you interact with our services by, for example,
                                    using
                                    technologies like cookies, and receiving error reports or usage data from software
                                    running on
                                    your device. We also obtain data from third parties (including other companies). For
                                    example, we
                                    supplement the data we collect by purchasing demographic data from other companies.
                                    We also use
                                    services from other companies to help us determine a location based on your IP
                                    address in order
                                    to customize certain services to your location. The data we collect depends on the
                                    services
                                    and features you use.
                                </dd>

                                <dt class="heading-6">How We Use Your Information</dt>

                                <dd>Our web site uses the data we collect for three basic purposes: to operate our
                                    business and
                                    provide (including improving and personalizing) the services we offer, to send
                                    communications,
                                    including promotional communications, and to display advertising. In carrying out
                                    these
                                    purposes, we combine data we collect through the various web site services you use
                                    to give you a
                                    more seamless, consistent and personalized experience. However, to enhance privacy,
                                    we have
                                    built in technological and procedural safeguards designed to prevent certain data
                                    combinations.
                                    For example, we store data we collect from you when you are unauthenticated (not
                                    signed in)
                                    separately from any account information that directly identifies you, such as your
                                    name, email
                                    address or phone number.
                                </dd>

                                <dt class="heading-6">Sharing Your Information</dt>

                                <dd>We share your personal data with your consent or as necessary to complete any
                                    transaction or
                                    provide any service you have requested or authorized. For example, we share your
                                    content with
                                    third parties when you tell us to do so. When you provide payment data to make a
                                    purchase, we
                                    will share payment data with banks and other entities that process payment
                                    transactions or
                                    provide other financial services, and for fraud prevention and credit risk
                                    reduction. In
                                    addition, we share personal data among our controlled affiliates and subsidiaries.
                                    We also share
                                    personal data with vendors or agents working on our behalf for the purposes
                                    described in this
                                    statement. For example, companies we've hired to provide customer service support or
                                    assist in
                                    protecting and securing our systems and services may need access to personal data in
                                    order to
                                    provide those functions. In such cases, these companies must abide by our data
                                    privacy and
                                    security requirements and are not allowed to use personal data they receive from us
                                    for any
                                    other purpose. We may also disclose personal data as part of a corporate transaction
                                    such as a
                                    merger
                                    or sale of assets.
                                </dd>
                            </dl>
                            <!-- END Terms List -->
                            <a href="mailto:#" class="offset-3">privacy@demolink.org</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Privacy Policy -->
    </main>

    <!--========================================================
                              FOOTER
    =========================================================-->
    <footer class="page-footer shift-down">
        <div class="container relative-shift-up">
            <div class="row well-xs bordered">
                <div class="col-md-4 col-md-push-2">
                    <!--RD Navbar Brand-->
                    <div class="rd-navbar-brand small">
                        <div class="brand-header">
                            <span>ESTD</span>
                            <img src="images/logo.png" alt="" width="70" height="67">
                            <span>2008</span>
                        </div>
                        <a href="./index.html" class="brand-name">Bellissimo</a>

                        <div class="brand-slogan"><p>Italian Restaurant</p></div>
                    </div>
                    <!--END RD Navbar Brand -->

                    <!-- Copyright -->
                    <p class="copyright">
                        <a href="./" class="nohover text-grayscale-darken">Bellissimo</a> &copy; <span
                            id="copyright-year"></span> |
                        <a href="index-5.html" class="text-grayscale-default">Privacy Policy</a>
                    </p>
                    <!-- END Copyright -->

                    <!-- Inline list -->
                    <ul class="inline-list">
                        <li><a href="#" class="icon icon-sm fa fa-instagram"></a></li>
                        <li><a href="#" class="icon icon-sm fa fa-twitter"></a></li>
                        <li><a href="#" class="icon icon-sm fa fa-facebook"></a></li>
                    </ul>
                    <!-- END Inline list -->
                </div>

                <div class="col-md-preffix-1 col-md-3 col-md-push-1 offset-7">
                    <h3>Hours</h3>
                    <dl class="terms-list">
                        <dt>Monday - Thursday</dt>
                        <dd>5:30 PM - 10:00 AM</dd>

                        <dt>Friday &amp; Sunday</dt>
                        <dd>5:30 PM - 11:00 AM</dd>
                    </dl>
                </div>

                <div class="col-md-3 col-md-push-3 offset-7">
                    <h3>Contacts</h3>

                    <div class="contact-info">
                        <address>28 Jackson Blvd Ste 1020<br>
                            Chicago, IL 60604-2340
                        </address>

                        <a href="callto:#" class="with-icon">
                            <span class="icon icon-lg icon-primary thin-icon-phone-call"></span>
                            1-800-234-5677
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- Core Scripts -->
<script src="js/core.min.js"></script>
<!-- Additional Functionality Scripts -->
<script src="js/script.js"></script>


<!--coded by retoyfer-->
</body>
</html>