<!DOCTYPE html>
<html lang="en" class="wide smoothscroll wow-animation">
<head>
    <!-- Site Title -->
    <title>News</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

    <!-- Stylesheets -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700%7CNoto+Serif:400italic' rel='stylesheet'>
    <link rel="stylesheet" href="css/style.css">

    <!--[if lt IE 10]>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- The Main Wrapper -->
<div class="page bg-image bg-image-1 text-center">

    <!--For older internet explorer-->
    <div class="old-ie"
         style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <!--END block for older internet explorer-->

    <!--========================================================
                              HEADER
    =========================================================-->
    <header class="page-header bg-grayscale-darken">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar" data-rd-navbar-lg="rd-navbar-static">
                <div class="rd-navbar-inner">
                    <!-- RD Navbar Panel -->
                    <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle -->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span></button>
                        <!-- END RD Navbar Toggle -->

                        <!--RD Navbar Brand-->
                        <div class="rd-navbar-brand medium">
                            <div class="brand-header">
                                <span>ESTD</span>
                                <img src="images/logo.png" alt="" width="70" height="67">
                                <span>2008</span>
                            </div>
                            <a href="./index.html" class="brand-name">Bellissimo</a>

                            <div class="brand-slogan"><p>Italian Restaurant</p></div>
                        </div>
                        <!--END RD Navbar Brand -->
                    </div>
                    <!-- END RD Navbar Panel -->

                    <div class="rd-navbar-nav-wrap">

                        <!-- RD Navbar Nav -->
                        <ul class="rd-navbar-nav">
                            <li>
                                <a href="index.html">Main Page</a>
                                <!-- RD Navbar Megamenu -->
                                <ul class="rd-navbar-megamenu">
                                    <li>
                                        <h3>Popular in Menu</h3>
                                        <ul>
                                            <li>
                                                <div class="pricing-box">
                                                    <p class="pricing-box__title"><a href="#">Cavatapi</a></p>
                                                    <p class="price">$18,60</p>
                                                    <p>Smoked Mozzarella, Sun-Dried Tomato, Spinach.</p>
                                                </div>
                                                <div class="pricing-box">
                                                    <p class="pricing-box__title"><a href="#">Ricotta Gnocchi</a></p>
                                                    <p class="price">$10,16</p>
                                                    <p>Broccolini, Sausage, Garlic,
                                                        Parmesan.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="pricing-box">
                                                    <p class="pricing-box__title"><a href="#">Chicken Broccoli Penne</a></p>
                                                    <p class="price">$27,20</p>
                                                    <p>Fresh Garlic, Cream, Parmesan Cheese.</p>
                                                </div>
                                                <div class="pricing-box">
                                                    <p class="pricing-box__title"><a href="#">Pasta Louise</a></p>
                                                    <p class="price">$17,25</p>
                                                    <p>Sauteed Chicken, Plum Tomato,
                                                        Asparagus.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <img src="images/megamenu_01.jpg" alt="" width="381" height="553">
                                        <dl>
                                            <dt>Call us:</dt>
                                            <dd><a href="callto:#" class="text-grayscale-darken">+1 800 889 9898</a></dd>
                                        </dl>
                                    </li>
                                </ul>
                                <!-- END RD Navbar Megamenu -->
                            </li>
                            <li>
                                <a href="index-1.html">About Us</a>

                                <!-- RD Navbar Dropdown -->
                                <ul class="rd-navbar-dropdown">
                                    <li><a href="#">Meet Our Team</a></li>
                                    <li><a href="#">FAQ</a></li>

                                    <li>
                                        <a href="#">Areas We Serve</a>
                                        <ul class="rd-navbar-dropdown">
                                            <li><a href="#">New Orleans</a></li>
                                            <li><a href="#">Mandeville</a></li>
                                            <li><a href="#">Covington</a></li>
                                            <li><a href="#">Slidell</a></li>
                                            <li><a href="#">Houma</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- END RD Navbar Dropdown -->
                            </li>
                            <li>
                                <a href="index-2.html">Menu</a>
                            </li>
                            <li class="active">
                                <a href="index-3.html">News</a>
                            </li>
                            <li>
                                <a href="index-4.html">Contacts</a>
                            </li>
                        </ul>
                        <!-- END RD Navbar Nav -->
                    </div>
                </div>
            </nav>
        </div>
        <!-- END RD Navbar -->

        <!-- Parallax -->
        <div class="rd-parallax" data-on="false" data-lg-on="true">
            <div class="rd-parallax-layer parallax-shift-down bg-grayscale-darken"
                 data-type="media"
                 data-url="images/parallax_01.jpg"
                 data-speed=".15">
            </div>

            <div class="rd-parallax-layer well-lg" data-type="html" data-speed="0">
                <!--RD Navbar Brand-->
                <div class="rd-navbar-brand medium">
                    <div class="brand-header">
                        <span>ESTD</span>
                        <img src="images/logo.png" alt="" width="70" height="67">
                        <span>2008</span>
                    </div>
                    <a href="./index.html" class="brand-name">Bellissimo</a>

                    <div class="brand-slogan"><p>Italian Restaurant</p></div>
                </div>
                <!--END RD Navbar Brand -->
            </div>
        </div>
        <!-- END Parallax -->
    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main class="page-content">
        <!-- What's New? -->
        <section class="shadow-overlay">
            <div class="container relative-shift-up">
                <div class="row">
                    <div class="col-sm-preffix-1 col-sm-10 col-md-preffix-0 col-md-6 col-lg-5 full-height">
                        <div class="bordered">
                            <div class="inset-4">
                                <h3>What's New?</h3>

                                <div class="news-post">
                                    <time datetime="2015-01-02">01/02/2015</time>
                                    <h6><a href="#">Young Chef Workshops</a></h6>

                                    <p>As a part of the "Young Chef" program, our restaurant provides free creative
                                        workshops for our trainees.</p>
                                </div>
                                <a href="#" class="link link-left">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-preffix-1 col-sm-10 col-md-preffix-0 col-md-6 col-lg-7 image-wrap image-wrap-right hidden visible-md-block">
                        <img src="images/page-4_img01.jpg" alt="" width="700" height="546">
                    </div>
                </div>
            </div>
        </section>
        <!-- END What's New? -->

        <!-- What People Say About Us -->
        <section class="rd-parallax bg-grayscale-darken" data-on="false" data-lg-on="true">
            <div class="rd-parallax-layer"
                 data-type="media"
                 data-url="images/parallax_07.jpg"
                 data-speed="0"
                 data-lg-speed="0.25">
            </div>

            <div class="rd-parallax-layer well-xl" data-type="html" data-lg-speed="0.25">

                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1><span class="small">What People Say</span>About Us</h1>

                            <div class="owl-carousel owl-nav-variant-1"
                                 data-items="1"
                                 data-margin="15"
                                 data-sm-items="2"
                                 data-sm-margin="30"
                                 data-md-items="3"
                                 data-loop="true"
                                 data-dots="true">

                                <blockquote class="quote">
                                    <p><q>I spent years searching the right place to eat something truly Italian. And
                                        here it is – your restaurant. This is where I go every time I feel overwhelmed
                                        with
                                        nostalgia or just want to taste the real pasta one more time.</q></p>

                                    <p><cite>David Austin</cite>, Client</p>
                                </blockquote>

                                <blockquote class="quote">
                                    <p><q>Your Restaurant is the right family place for me. It is already a tradition
                                        for us to visit this place every Friday
                                        evening. I really enjoy the interior and music, my husband likes all kinds of
                                        pizzas they serve here.
                                        and my little daughter is crazy about desserts.</q></p>

                                    <p><cite>Jessica Priston</cite>, Client</p>
                                </blockquote>

                                <blockquote class="quote">
                                    <p><q>I will never stop visiting this place.
                                        I enjoy my meal and think of my global plans. Everything is perfect here: from
                                        basil leaf on pasta to the color of walls. To my opinion, your Restaurant
                                        deserves a Michelin Star.</q></p>

                                    <p><cite>Sam Ryan</cite>, Client</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END What People Say About Us -->

        <!-- Latest News -->
        <section class="shadow-overlay">
            <div class="container relative-shift-up">
                <div class="row row-no-gutter">
                    <div class="col-sm-preffix-1 col-sm-10 col-md-preffix-0 col-md-5 image-wrap hidden visible-md-block">
                        <img src="images/page-4_img02.jpg" alt="" width="470" height="546">
                    </div>

                    <div class="col-sm-preffix-1 col-sm-10 col-md-preffix-0 col-md-7 full-height inset-0">
                        <div class="bordered bordered--thin-border">
                            <div class="inset-5">
                                <h3>Latest News</h3>

                                <div class="news-post">
                                    <time datetime="2015-02-03">02/03/2015</time>
                                    <h6><a href="#">Organize your Corporate Party</a></h6>

                                    <p>You can impress your boss by choosing the best place for corporate
                                        party with your co-workers. Reserve a spacious room, set the menu, choose the
                                        drinks and invite guests.</p>
                                    <a href="#" class="link link-right link-position-2">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Latest News -->

        <!-- Events & Banquets -->
        <section class="well-md">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Events &amp; Banquets</h3>
                    </div>
                    <div class="col-xs-12 offset-2">
                        <div class="row">
                            <div class="event-post col-sm-preffix-2 col-sm-8 col-md-preffix-0 col-md-4">
                                <img src="images/page-4_img03.jpg" alt="" width="370" height="274">
                                <time datetime="2015-02-03">02/03/2015</time>
                                <h6><a href="#">Exhibition of Paintings</a></h6>

                                <p>Our company became a partner in
                                    organizing the exhibition of paintings of contemporary artist, where you can see
                                    pictures painted with wine and coffee!
                                    Admission is free, the beginning of the exhibition is on August, 2.</p>
                            </div>

                            <div class="event-post col-sm-preffix-2 col-sm-8 col-md-preffix-0 col-md-4">
                                <img src="images/page-4_img04.jpg" alt="" width="370" height="274">
                                <time datetime="2015-03-04">03/04/2015</time>
                                <h6><a href="#">Reformational Program</a></h6>

                                <p>Since March, our company launched a one-year program on reforming its
                                    restaurants. First and foremost changes affected the menu and the service throughout
                                    the network - now we have quicker service, and the food is more delicious.
                                </p>
                            </div>

                            <div class="event-post col-sm-preffix-2 col-sm-8 col-md-preffix-0 col-md-4">
                                <img src="images/page-4_img05.jpg" alt="" width="370" height="274">
                                <time datetime="2015-04-05">04/05/2015</time>
                                <h6><a href="#">New Dining and Function
                                    Room!</a></h6>

                                <p>The restaurant now boasts a dining room which comfortably seats up to 200 guests, as
                                    well as a function room large enough for a further 200 seated guests.
                                    exhibition is on August 2.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Events & Banquets -->

        <!-- News Archives -->
        <section class="rd-parallax bg-grayscale-darken" data-on="false" data-lg-on="true">
            <!-- Parallax -->
            <div class="rd-parallax-layer"
                 data-type="media"
                 data-url="images/parallax_08.jpg"
                 data-speed="0.25">
            </div>
            <!-- END Parallax -->

            <div class="rd-parallax-layer well-xl well-xl--inset-2" data-type="html" data-speed="0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1><span class="small">News</span>Archives</h1>
                        </div>
                        <div class="col-xs-12 offset-6">
                            <div class="row row-xs-center text-center text-sm-left">
                                <div class="col-sm-4">
                                    <ul class="marked-list">
                                        <li><a href="#">January 2015</a></li>
                                        <li><a href="#">February 2015</a></li>
                                        <li><a href="#">March 2015</a></li>
                                        <li><a href="#">April 2015</a></li>
                                        <li><a href="#">May 2015</a></li>
                                        <li><a href="#">June 2015</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="marked-list">
                                        <li><a href="#">July 2015</a></li>
                                        <li><a href="#">August 2015</a></li>
                                        <li><a href="#">September 2015</a></li>
                                        <li><a href="#">October 2015</a></li>
                                        <li><a href="#">November 2015</a></li>
                                        <li><a href="#">December 2015</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="marked-list">
                                        <li><a href="#">January 2014</a></li>
                                        <li><a href="#">February 2014</a></li>
                                        <li><a href="#">March 2014</a></li>
                                        <li><a href="#">April 2014</a></li>
                                        <li><a href="#">May 2014</a></li>
                                        <li><a href="#">June 2014</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END News Archives -->
    </main>
    <!--========================================================
                              FOOTER
    ==========================================================-->
    <footer class="page-footer shadow-overlay">
        <div class="container relative-shift-up">
            <div class="row well-xs bordered">
                <div class="col-md-4 col-md-push-2">
                    <!--RD Navbar Brand-->
                    <div class="rd-navbar-brand small">
                        <div class="brand-header">
                            <span>ESTD</span>
                            <img src="images/logo.png" alt="" width="70" height="67">
                            <span>2008</span>
                        </div>
                        <a href="./index.html" class="brand-name">Bellissimo</a>

                        <div class="brand-slogan"><p>Italian Restaurant</p></div>
                    </div>
                    <!--END RD Navbar Brand -->

                    <!-- Copyright -->
                    <p class="copyright">
                        <a href="./" class="nohover text-grayscale-darken">Bellissimo</a> &copy; <span
                            id="copyright-year"></span> |
                        <a href="index-5.html" class="text-grayscale-default">Privacy Policy</a>
                    </p>
                    <!-- END Copyright -->

                    <!-- Inline list -->
                    <ul class="inline-list">
                        <li><a href="#" class="icon icon-sm fa fa-instagram"></a></li>
                        <li><a href="#" class="icon icon-sm fa fa-twitter"></a></li>
                        <li><a href="#" class="icon icon-sm fa fa-facebook"></a></li>
                    </ul>
                    <!-- END Inline list -->
                </div>

                <div class="col-md-preffix-1 col-md-3 col-md-push-1 offset-7">
                    <h3>Hours</h3>
                    <dl class="terms-list">
                        <dt>Monday - Thursday</dt>
                        <dd>5:30 PM - 10:00 AM</dd>

                        <dt>Friday &amp; Sunday</dt>
                        <dd>5:30 PM - 11:00 AM</dd>
                    </dl>
                </div>

                <div class="col-md-3 col-md-push-3 offset-7">
                    <h3>Contacts</h3>

                    <div class="contact-info">
                        <address>28 Jackson Blvd Ste 1020<br>
                            Chicago, IL 60604-2340
                        </address>

                        <a href="callto:#" class="with-icon">
                            <span class="icon icon-lg icon-primary thin-icon-phone-call"></span>
                            1-800-234-5677
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- Core Scripts -->
<script src="js/core.min.js"></script>
<!-- Additional Functionality Scripts -->
<script src="js/script.js"></script>


</body>
</html>