<!DOCTYPE html>
<html lang="en" class="wide smoothscroll wow-animation">
<head>
    <!-- Site Title -->
    <title>About Us</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

    <!-- Stylesheets -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700%7CNoto+Serif:400italic' rel='stylesheet'>
    <link rel="stylesheet" href="css/style.css">

    <!--[if lt IE 10]>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- The Main Wrapper -->
<div class="page bg-image bg-image-1 text-center">

    <!--For older internet explorer-->
    <div class="old-ie"
         style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <!--END block for older internet explorer-->

    <!--========================================================
                              HEADER
    =========================================================-->
    <header class="page-header bg-grayscale-darken">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar" data-rd-navbar-lg="rd-navbar-static">
                <div class="rd-navbar-inner">
                    <!-- RD Navbar Panel -->
                    <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle -->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span></button>
                        <!-- END RD Navbar Toggle -->

                        <!--RD Navbar Brand-->
                        <div class="rd-navbar-brand medium">
                            <div class="brand-header">
                                <span>ESTD</span>
                                <img src="images/logo.png" alt="" width="70" height="67">
                                <span>2008</span>
                            </div>
                            <a href="./index.html" class="brand-name">Bellissimo</a>

                            <div class="brand-slogan"><p>Italian Restaurant</p></div>
                        </div>
                        <!--END RD Navbar Brand -->
                    </div>
                    <!-- END RD Navbar Panel -->

                    <div class="rd-navbar-nav-wrap">

                        <!-- RD Navbar Nav -->
                        <ul class="rd-navbar-nav">
                            <li>
                                <a href="index.html">Main Page</a>
                                <!-- RD Navbar Megamenu -->
                                <ul class="rd-navbar-megamenu">
                                    <li>
                                        <h3>Popular in Menu</h3>
                                        <ul>
                                            <li>
                                                <div class="pricing-box">
                                                    <p class="pricing-box__title"><a href="#">Cavatapi</a></p>
                                                    <p class="price">$18,60</p>
                                                    <p>Smoked Mozzarella, Sun-Dried Tomato, Spinach.</p>
                                                </div>
                                                <div class="pricing-box">
                                                    <p class="pricing-box__title"><a href="#">Ricotta Gnocchi</a></p>
                                                    <p class="price">$10,16</p>
                                                    <p>Broccolini, Sausage, Garlic,
                                                        Parmesan.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="pricing-box">
                                                    <p class="pricing-box__title"><a href="#">Chicken Broccoli Penne</a></p>
                                                    <p class="price">$27,20</p>
                                                    <p>Fresh Garlic, Cream, Parmesan Cheese.</p>
                                                </div>
                                                <div class="pricing-box">
                                                    <p class="pricing-box__title"><a href="#">Pasta Louise</a></p>
                                                    <p class="price">$17,25</p>
                                                    <p>Sauteed Chicken, Plum Tomato,
                                                        Asparagus.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <img src="images/megamenu_01.jpg" alt="" width="381" height="553">
                                        <dl>
                                            <dt>Call us:</dt>
                                            <dd><a href="callto:#" class="text-grayscale-darken">+1 800 889 9898</a></dd>
                                        </dl>
                                    </li>
                                </ul>
                                <!-- END RD Navbar Megamenu -->
                            </li>
                            <li class="active">
                                <a href="index-1.html">About Us</a>

                                <!-- RD Navbar Dropdown -->
                                <ul class="rd-navbar-dropdown">
                                    <li><a href="#">Meet Our Team</a></li>
                                    <li><a href="#">FAQ</a></li>

                                    <li>
                                        <a href="#">Areas We Serve</a>
                                        <ul class="rd-navbar-dropdown">
                                            <li><a href="#">New Orleans</a></li>
                                            <li><a href="#">Mandeville</a></li>
                                            <li><a href="#">Covington</a></li>
                                            <li><a href="#">Slidell</a></li>
                                            <li><a href="#">Houma</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- END RD Navbar Dropdown -->
                            </li>
                            <li>
                                <a href="index-2.html">Menu</a>
                            </li>
                            <li>
                                <a href="index-3.html">News</a>
                            </li>
                            <li>
                                <a href="index-4.html">Contacts</a>
                            </li>
                        </ul>
                        <!-- END RD Navbar Nav -->
                    </div>
                </div>
            </nav>
        </div>
        <!--END RD Navbar-->

        <!-- Parallax -->
        <div class="rd-parallax" data-on="false" data-lg-on="true">
            <div class="rd-parallax-layer parallax-shift-down bg-grayscale-darken"
                 data-type="media"
                 data-url="images/parallax_01.jpg"
                 data-speed="0.15">
            </div>

            <div class="rd-parallax-layer well-lg" data-type="html" data-speed="0">
                <!--RD Navbar Brand-->
                <div class="rd-navbar-brand medium">
                    <div class="brand-header">
                        <span>ESTD</span>
                        <img src="images/logo.png" alt="" width="70" height="67">
                        <span>2008</span>
                    </div>
                    <a href="./index.html" class="brand-name">Bellissimo</a>

                    <div class="brand-slogan"><p>Italian Restaurant</p></div>
                </div>
                <!--END RD Navbar Brand -->
            </div>
        </div>
        <!-- END Parallax -->
    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main class="page-content">
        <!-- Why Us -->
        <section class="shadow-overlay">
            <div class="container relative-shift-up">
                <div class="row">
                    <div class="col-sm-preffix-1 col-sm-10 col-md-preffix-0 col-md-6 col-lg-7 image-wrap image-wrap-left hidden visible-md-block">
                        <img src="images/page-2_img01.jpg" alt="" width="700" height="546">
                    </div>

                    <div class="col-sm-preffix-1 col-sm-10 col-md-preffix-0 col-md-6 col-lg-5 full-height">
                        <div class="bordered">
                            <div class="inset-1">
                                <h3>Why Us</h3>

                                <p>At our Italian Restaurant, we bring you the same wonderful
                                    experiences we grew up on: from our warm Italian hospitality, to the authentic
                                    aromas in our open kitchen, to our flavorful,
                                    handmade recipes passed down for more than four generations.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Why Us -->

        <!-- Our Passion for Delicious Food -->
        <section class="rd-parallax bg-grayscale-darken" data-on="false" data-lg-on="true">
            <div class="rd-parallax-layer"
                 data-type="media"
                 data-url="images/parallax_04.jpg"
                 data-speed="0.25">
            </div>

            <div class="rd-parallax-layer well-xl well-xl--inset-3" data-type="html" data-speed="0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1><span class="small">Our Passion for</span> Delicious Food</h1>
                        </div>
                        <div class="col-sm-preffix-1 col-sm-10 offset-3">
                            <p>We want to share our passion for the excellent food and great service. We cook our dishes
                                using the freshest ingredients. We specialize in homemade classic Italian pastas,
                                sauces, soups, desserts and much more in
                                a warm friendly atmosphere. Italians believe in simplicity and respect for good food, so
                                some of the most
                                beloved dishes of Italians comprise just a few simple ingredients, carefully selected
                                and served at their prime.</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- END Our Passion for Delicious Food -->

        <!-- Our History -->
        <section class="shadow-overlay">
            <div class="container relative-shift-up">
                <div class="row row-no-gutter">
                    <div class="col-sm-preffix-1 col-sm-10 col-md-preffix-0 col-md-7 full-height inset-0">
                        <div class="bordered bordered--thin-border">
                            <div class="inset-3">
                                <h3>Our History</h3>

                                <p>Our Restaurant was established on May 25, 1987. Since then it has grown to more than
                                    30
                                    restaurants worldwide. Our plans continue to extend, and this is not the end of our
                                    story.
                                </p>

                                <p>We have a passion for the Italian way of life and want to share it with people. No
                                    matter where you're from, we provide good food for everyone.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-preffix-1 col-sm-10 col-md-preffix-0 col-md-5 image-wrap hidden visible-md-block">
                        <img src="images/page-2_img02.jpg" alt="" width="470" height="546">
                    </div>
                </div>
            </div>
        </section>
        <!-- END Our History -->

        <!-- Our Cooks -->
        <section class="well-md">
            <div class="container">
                <h3>Our Cooks</h3>

                <div class="owl-carousel owl-nav-variant-2"
                     data-items="1"
                     data-margin="30"
                     data-stage-padding="0"
                     data-sm-items="2"
                     data-md-items="3"
                     data-lg-items="4"
                     data-loop="false"
                     data-nav="true"
                     data-dots="true">

                    <div class="owl-item">
                        <img src="images/page-2_img03.jpg" alt="" width="270" height="242">

                        <p class="big text-grayscale-darken">Eva Adamson</p>

                        <p>Sous-Chef Eva is an
                            experienced cook with a long list of awards, prizes and
                            trophies.</p>
                    </div>
                    <div class="owl-item">
                        <img src="images/page-2_img04.jpg" alt="" width="270" height="242">

                        <p class="big text-grayscale-darken">Mark Johnson</p>

                        <p>Mark is the heart of our
                            restaurant and he is the one who brings the spirit.</p>
                    </div>
                    <div class="owl-item">
                        <img src="images/page-2_img05.jpg" alt="" width="270" height="242">

                        <p class="big text-grayscale-darken">Olivia Grosh</p>

                        <p>Olivia can cook the best
                            Italian dish you have ever eaten in your life!</p>
                    </div>
                    <div class="owl-item">
                        <img src="images/page-2_img06.jpg" alt="" width="270" height="242">

                        <p class="big text-grayscale-darken">Sam Kromstain</p>

                        <p>He establishes books for food lovers, gives interviews, visits to the most famous
                            TV shows. </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Our Cooks -->

        <!-- Italian Recipes, Food, Ideas & Offers -->
        <section class="rd-parallax bg-grayscale-darken" data-on="false" data-lg-on="true">
            <div class="rd-parallax-layer"
                 data-type="media"
                 data-url="images/parallax_05.jpg"
                 data-speed="0.25">
            </div>

            <div class="rd-parallax-layer well-xl well-xl--inset-1" data-type="html" data-speed="0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1><span class="small">Italian Recipes, Food </span>Ideas &amp; Offers</h1>
                        </div>
                        <div class="col-xs-12 offset-2">
                            <ol class="list row row-xs-center">
                                <li class="col-sm-8 col-md-4">
                                    <span class="icon icon-xl icon-default fl-bigmug-line-tool16"></span>

                                    <p class="heading-3">Consistency</p>

                                    <p>Taking pride in providing the same original family recipes and
                                        products throughout the area
                                        no matter where you are.</p>
                                </li>
                                <li class="col-sm-8 col-md-4">
                                    <span class="icon icon-xl icon-default fl-bigmug-line-user144"></span>

                                    <p class="heading-3">Catering service</p>

                                    <p>We cater events of any sizes to ensure a memorable dining
                                        experience through a high quality and elite service.</p>
                                </li>
                                <li class="col-sm-8 col-md-4">
                                    <span class="icon icon-xl icon-default fl-bigmug-line-like51"></span>

                                    <p class="heading-3">We sparkle</p>

                                    <p>We follow and maintain utmost
                                        standards of presentable appearance, cleanliness and hygiene to maximize your
                                        experience.</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- END Italian Recipes, Food, Ideas & Offers -->
    </main>
    <!--========================================================
                              FOOTER
    ==========================================================-->
    <footer class="page-footer shadow-overlay">
        <div class="container relative-shift-up">
            <div class="row well-xs bordered">
                <div class="col-md-4 col-md-push-2">
                    <!--RD Navbar Brand-->
                    <div class="rd-navbar-brand small">
                        <div class="brand-header">
                            <span>ESTD</span>
                            <img src="images/logo.png" alt="" width="70" height="67">
                            <span>2008</span>
                        </div>
                        <a href="./index.html" class="brand-name">Bellissimo</a>

                        <div class="brand-slogan"><p>Italian Restaurant</p></div>
                    </div>
                    <!--END RD Navbar Brand -->

                    <!-- Copyright -->
                    <p class="copyright">
                        <a href="./" class="nohover text-grayscale-darken">Bellissimo</a> &copy; <span
                            id="copyright-year"></span> |
                        <a href="index-5.html" class="text-grayscale-default">Privacy Policy</a>
                    </p>
                    <!-- END Copyright -->

                    <!-- Inline list -->
                    <ul class="inline-list">
                        <li><a href="#" class="icon icon-sm fa fa-instagram"></a></li>
                        <li><a href="#" class="icon icon-sm fa fa-twitter"></a></li>
                        <li><a href="#" class="icon icon-sm fa fa-facebook"></a></li>
                    </ul>
                    <!-- END Inline list -->
                </div>

                <div class="col-md-preffix-1 col-md-3 col-md-push-1 offset-7">
                    <h3>Hours</h3>
                    <dl class="terms-list">
                        <dt>Monday - Thursday</dt>
                        <dd>5:30 PM - 10:00 AM</dd>

                        <dt>Friday &amp; Sunday</dt>
                        <dd>5:30 PM - 11:00 AM</dd>
                    </dl>
                </div>

                <div class="col-md-3 col-md-push-3 offset-7">
                    <h3>Contacts</h3>

                    <div class="contact-info">
                        <address>28 Jackson Blvd Ste 1020<br>
                            Chicago, IL 60604-2340
                        </address>

                        <a href="callto:#" class="with-icon">
                            <span class="icon icon-lg icon-primary thin-icon-phone-call"></span>
                            1-800-234-5677
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- Core Scripts -->
<script src="js/core.min.js"></script>
<!-- Additional Functionality Scripts -->
<script src="js/script.js"></script>


</body>
</html>